html, body {
    margin:0;
    padding:0;
    height:100%;
    /*background-color: black !important;*/
    /*background-image: url("../images/track-background-black.png") !important;*/
    color: white;
    overflow: hidden;
}

#counter {
    color: white;
    margin: 0 0 0;
    text-align: center;
}